<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>DOOD</title>
    {{#each css}}
        <link rel="stylesheet" href="public\css\style.css"{{style.css}}>
    {{/each}}
    <link rel="stylesheet" href="public\css\style.css"/>
    {{!-- <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor'
      crossorigin='anonymous'
    /> --}}
  </head>


<div class="container">
  <img src="bandmember.jpg" alt="Avatar" style="width:90px">
  <p><span>{{blog.videogame}}</span>{{blog.user.username}}</p>
  <p>{{blog.content}}</p>
  <div class='card-footer text-muted'>
      Posted on:
      {{blog.createdAt}}
    </div>
</div>

<div class='row'>
  <form id='comment-form'>
    <textarea id='comment-text-area'></textarea>
    <button id='comment-submit' data-id='{{blog.id}}'>Submit Comment</button>
  </form>
</div>

{{#each blog.Comments as |comment|}}
  <div class='row'>
    <div class='card'>
      <div class='card-body'>
        <p class='card-text'>{{comment.content}}</p>
      </div>
      <div class='card-footer text-muted'>
        Posted by
        {{comment.user.username}}
        on
        {{comment.createdAt}}
      </div>
    </div>
  </div>
{{/each}}
