<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>DOOD</title>
    <link rel="stylesheet" href="css/style.css"{{style.css}}>
  </head>

{{#if posts}}
  {{#each posts as |post|}}
   <div class="container">
  <img src="bandmember.jpg" alt="Avatar" style="width:90px">
  <p><span>{{post.videogame}}</span></p>
  <p class="card-subtitle mb-2 text-muted">{{post.console}}</p>
  <p>{{post.content}}</p>
  <p>Posted on:
      {{post.createdAt}}</p>
</div>
  {{/each}}
{{/if}}

<div class='row'>
  <a id='add-post-link' href='/dashboard/new-post'>Add Post</a>
</div>
<script src="/js/edit-post.js"></script>