{{#each css}}
        <link rel="stylesheet" href="public\css\style.css"{{style.css}}>
    {{/each}}
{{#each posts as |blog|}}
<div class="container">
  <img src="bandmember.jpg" alt="Avatar" style="width:90px">
  <p><span>{{blog.videogame}}</span>{{blog.user.username}}</p>
  <p>{{blog.console}}</p>
  <p>{{blog.content}}</p>
  <div class='card-footer text-muted'>
    Posted on:
      {{blog.createdAt}}
    <a href='/blogs/{{id}}' class='btn btn-primary'>View Full Blog</a>
  </div>
</div>
{{/each}} 