<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  
  <!--Boxicons Link-->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="./css/style.css">
  <title>DOOD</title>
  <link rel="stylesheet" href="css/style.css"{{style.css}}>
{{#each posts as |blog|}}
<div class="container">
  <img src="bandmember.jpg" alt="Avatar" style="width:90px">
  <p><span>{{blog.videogame}}</span>{{blog.user.username}}</p>
  <p>{{blog.console}}</p>
  <p>{{blog.content}}</p>
  <div class='card-footer text-muted'>
    Posted on:
      {{blog.createdAt}}
    <a href='/blogs/{{id}}' class='btn btn-primary'>View Full Blog</a>
  </div>
</div>
{{/each}} 